---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="w-full flex justify-between items-center fixed top-0 bg-white p-4">
			<img src="/logo.jpg" alt="Logo company" width="80">
			<nav>
				<img src="/menu.svg" alt="menu icon" class="w-6">
				<!--<div>
					<a href="#">Home</a>
					<a href="#">Services</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
				</div>-->
			</nav>
		</header>
		<main class="w-full min-h-dvh flex flex-col lg:flex-row justify-center items-center gap-20 bg-white">
			<div class="text-center lg:text-left lg:p-20 w-full lg:w-1/2">
				<p class="text-2xl text-gray-600">WE ARE</p>
				<h1 class="text-5xl font-bold text-gray-700 lg:text-6xl font-roboto">INFOTRACK SOLUTION</h1>
				<p class="text-blue-600 text-2xl">Keeping you on track</p>
			</div>
			<div class="w-full lg:w-1/2">
				<img src="/cover.svg" alt="Cover photo" class="w-full h-auto">
			</div>
		</main>
		<section class="p-6 lg:p-18 bg-gray-200 text-lg font-roboto text-gray-800">
			<h2 class="text-2xl font-bold mb-5 text-blue-600">
				About us:
			</h2>
			<p class="mb-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia labore, sit dolor, quas sint molestias nisi tempora voluptatibus temporibus sapiente beatae quod, pariatur totam illo. Assumenda laboriosam esse labore ipsa pariatur? Exercitationem modi tempore accusantium quisquam maxime, dicta saepe optio eum recusandae quaerat assumenda asperiores, incidunt maiores, quis praesentium!
			</p>
			<p class="mb-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic veniam corrupti illo pariatur aperiam nobis! Laudantium eum fugit amet voluptas, deserunt aspernatur molestiae sequi quisquam voluptatem iusto perferendis animi fuga.
			</p>
			<p class="mb-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa commodi, dignissimos amet, illo aliquid dolorum obcaecati architecto recusandae nobis culpa facilis ullam nulla quas voluptatem deserunt ipsum nemo quos quidem voluptates nesciunt vitae. Ab, quaerat!
			</p>
		</section>
		<section class="p-6 lg:p-18 bg-gray-900 text-lg font-roboto text-gray-100">
			<h2 class="text-2xl font-bold mb-5 text-gray-100">
				Services:
			</h2>
			<div class="flex flex-wrap items-stretch">
				<div class="w-full md:w-1/2 lg:w-1/3 p-3">
					<div class="bg-blue-500 rounded-b-lg w-full">
						<img src="/camera.jpg" alt="Service illustration">
						<div class="p-8">
							<h3 class="text-center font-bold text-2xl mb-4">
								Cameras installation
							</h3>
							<p class="text-center text-xl text-gray-300">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis accusamus consequatur facere incidunt. Voluptatibus asperiores, quidem itaque quaerat consectetur harum sapiente ut aliquid nesciunt totam. Impedit totam dolor animi vitae.
							</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/3 p-3">
					<div class="bg-blue-500 rounded-b-lg w-full">
						<img src="/pbx.jpg" alt="Service illustration">
						<div class="p-8">
							<h3 class="text-center font-bold text-2xl mb-4">
								PBX installation
							</h3>
							<p class="text-center text-xl text-gray-300">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis accusamus consequatur facere incidunt. Voluptatibus asperiores, quidem itaque quaerat consectetur harum sapiente ut aliquid nesciunt totam. Impedit totam dolor animi vitae.
							</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/3 p-3">
					<div class="bg-blue-500 rounded-b-lg w-full">
						<img src="/software.jpg" alt="Service illustration">
						<div class="p-8">
							<h3 class="text-center font-bold text-2xl mb-4">
								Software installation
							</h3>
							<p class="text-center text-xl text-gray-300">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis accusamus consequatur facere incidunt. Voluptatibus asperiores, quidem itaque quaerat consectetur harum sapiente ut aliquid nesciunt totam. Impedit totam dolor animi vitae.
							</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/3 p-3">
					<div class="bg-blue-500 rounded-b-lg w-full">
						<img src="/server.jpg" alt="Service illustration">
						<div class="p-8">
							<h3 class="text-center font-bold text-2xl mb-4">
								Server installation & management
							</h3>
							<p class="text-center text-xl text-gray-300">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis accusamus consequatur facere incidunt. Voluptatibus asperiores, quidem itaque quaerat consectetur harum sapiente ut aliquid nesciunt totam. Impedit totam dolor animi vitae.
							</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/3 p-3">
					<div class="bg-blue-500 rounded-b-lg w-full">
						<img src="/network.jpg" alt="Service illustration">
						<div class="p-8">
							<h3 class="text-center font-bold text-2xl mb-4">
								Network design, management & cabling
							</h3>
							<p class="text-center text-xl text-gray-300">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis accusamus consequatur facere incidunt. Voluptatibus asperiores, quidem itaque quaerat consectetur harum sapiente ut aliquid nesciunt totam. Impedit totam dolor animi vitae.
							</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/3 p-3">
					<div class="bg-blue-500 rounded-b-lg w-full">
						<img src="/repair.jpg" alt="Service illustration">
						<div class="p-8">
							<h3 class="text-center font-bold text-2xl mb-4">
								Service & Repair
							</h3>
							<p class="text-center text-xl text-gray-300">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis accusamus consequatur facere incidunt. Voluptatibus asperiores, quidem itaque quaerat consectetur harum sapiente ut aliquid nesciunt totam. Impedit totam dolor animi vitae.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-blue-500 flex flex-col-reverse lg:flex-row">
			<div class="p-4 flex flex-col gap-3 lg:w-1/2 lg:pl-18">
				<h2 class="text-2xl font-bold font-roboto text-gray-100 pt-6 pb-4">Contact us:</h2>
				<div class="flex gap-4 justify-start items-center pl-6 text-lg text-blue-200 font-roboto">
					<img src="/location-icon.svg" alt="Location icon" width="28" height="auto">
					<div>
						<p>Daivd Simonstraat 147</p>
						<p>Paramaribo, Suriname</p>
					</div>
				</div>
				<div class="flex items-center gap-4 w-full pl-6 text-lg text-blue-200 font-roboto">
					<img src="/email-icon.svg" alt="Email icon" width="28" height="auto">
					<p>email@infotrack.sr</p>
				</div>
				<div class="flex items-center gap-4 w-full pl-6 text-lg text-blue-200 font-roboto">
					<img src="/phone-icon.svg" alt="Phone icon" width="28" height="auto">
					<p>+597 123456</p>
				</div>
				<p class="text-lg text-blue-200 font-roboto py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore, officiis nihil mollitia sint doloremque?</p>
			</div>
			<div class="lg:w-1/2 lg:h-full">
				<iframe 
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.08436360071!2d-55.14843732627455!3d5.843733730691894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8d084aa7f87cd77f%3A0x86f339b9e1592d69!2sInfotrack%20Solutions%20N.V.!5e0!3m2!1sen!2s!4v1753281198916!5m2!1sen!2s" 
					style="border:0;" 
					allowfullscreen="" 
					loading="lazy" 
					referrerpolicy="no-referrer-when-downgrade" 
					class="w-full h-80 lg:h-96"
				>
				</iframe>
			</div>
		</section>
		<footer class="bg-blue-950 flex flex-col lg:flex-row p-8 items-center gap-3 lg:justify-between lg:px-18 lg:items-center">
			<div class="flex gap-1 lg:gap-2">
				<a href="http://" target="_blank" rel="noopener noreferrer">
					<img src="/facebook-icon.svg" alt="Facebook icon" class="w-8 h-auto">
				</a>
				<a href="http://" target="_blank" rel="noopener noreferrer">
					<img src="/linkedin-icon.svg" alt="LinkedIn icon" class="w-8 h-auto">
				</a>
			</div>
			<div class="text-center text-white text-lg lg:text-right">
				<p>Infotrack Solution N.V</p>
				<p>All Right Reserved (c) 2025</p>
			</div>
		</footer>
	</body>
</html>
